$primaryColor: #ffca09;
$secondaryColor: white;
$thirdColor: black;


.swiper-pagination-bullet-active {
  background-color: $primaryColor !important;
}
.vel-btns-wrapper .btn__close, .vel-btns-wrapper .btn__next, .vel-btns-wrapper .btn__prev {
  color: $primaryColor !important;
  opacity: 1 !important;
  &:hover {
    color: #846700 !important;
  }
}